@font-face {
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
}
@font-face {
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
}
@font-face {
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
}
@font-face {
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	font-family: 'Lora';
	src: url('../fonts/Lora-Medium.woff2') format('woff2');
}
@font-face {
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	font-family: 'Lora';
	src: url('../fonts/Lora-Bold.woff2') format('woff2');
}
@font-face {
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	font-family: 'Crimson Pro';
	src: url('../fonts/Crimson-Pro.woff2') format('woff2');
}

@font-face {
	font-style: normal;
	font-display: block;
	font-weight: normal;
	font-family: 'icomoon';
	src: url('../fonts/icomoon.woff') format('woff');
}
